/* Just to visually verify the CSS is linked and working */
body {
    display: flex;
    /* turns the body into a flexbox */
    flex-direction: ;
    /* stacks the txt elements vertically on top of each other */
    align-items: center;
    /* centers the text horizontally on the screen */
    justify-content: space-around;
    /* centers the text vertically on the screen */
    height: 100vh;
    /* makes the body fill the entire height of the screen so vertical centering works */
    margin: 0;
    /* removes the default spacing around the edge of the page */
    font-family: sans-serif;
    /* changes text font */
    background-color: #F5276C;
    /* background colour */
}

h1 {
    color: #333;
}